<div class="info-side">
	<div class="holder">&nbsp;</div>
	<p>GiveChange Special: <%= info.discount %></p>
	<div class="like-it">
		<p><span class="num"><%= info.favorite_count %></span> Like It</p>
		<a href="#" class="mbutton"><span class="line">&nbsp;</span>I Like It!</a>
	</div>
	<div class="info">
		<p>Category: <%= info.type %><br /><%= info.address %><br /><%= info.city %>, <%= info.state %> <%= info.zipcode %><br /><%= info.homepage_url %></p>
		<p class="share">Share <a href="#"><img src="css/images/share-icos.gif" alt="" /></a></p>
	</div>
</div>
