<li>
	<p><%= charity.name.capitalize %></p>
	<small><%= cascade_categories(charity) %></small>
	<br />
	<p class="normal"><%= charity.city %>, <%= charity.state %></p>
	<span class="separator">&nbsp;</span>
	<p class="normal">Mission: <%= charity.mission %></p>
  <br />
</li>
