<h3><%= :new_charity.l %></h3>
<% error_messages_for :charity %>

<% form_tag charities_url, :method => "POST", :multipart =>true, :class => 'MainForm' do %>
  <%= :name.l %>
  <%= text_field :charity, :name %>
  
  <label><%= :contact_email.l %></label>
  <%= text_field :contact, :email %>
  <label><%= :contact_position.l %></label>
  <%= text_field :contact, :position %>  
  
  <label><%= :choose_a_logo_or_photo_for_your_charity.l %></label>
  <%= file_field :portrait, :uploaded_data %>

  <label><%= :charity_mission.l %></label>
  <%= text_area :charity, :mission, :size => "69x10", :class => "rich_text_editor" %>

  <label><%= :charity_programs.l %></label>
  <%= text_area :charity, :programs, :size => "69x10", :class => "rich_text_editor" %>
 
          
  <p>
  <%= submit_tag :submit_charity.l %>
<% end %>

<%= link_to :back.l, charities_path %>
