<div class="left-side">
	<div class="image-side">
		<div class="holder">&nbsp;</div>
		<a href="#" class="mbutton mbutton-orange"><span class="line">&nbsp;</span>Favorite</a>
		<div class="rating">
			<p>Yelp</p>
			<div class="cl">&nbsp;</div>
			<ul>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="empty">&nbsp;</span></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
		<div class="rating">
			<p>Yelp</p>
			<div class="cl">&nbsp;</div>
			<ul>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="full">&nbsp;</span></li>
			    <li><span class="empty">&nbsp;</span></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<div class="info-side">
		<h3><%= venue.name %></h3> 
		<br />
		<p style="padding-bottom: 4px; border-bottom: solid 1px #000; margin-bottom: 6px;"><small><%= venue.address %>, <%= venue.city %>, <%= venue.state %></small></p>
		<p style="padding-bottom: 4px; border-bottom: solid 1px #000; margin-bottom: 6px;"><small>Discount: <%= venue.discount %></small></p>
		<p><small>Information</small></p>
		<div class="slider video-slider">
			<div class="buttons">
				<a href="#" class="prev">prev</a>
				<a href="#" class="next">next</a>
			</div>
			<div class="holder">&nbsp;</div>
		</div>
		<p style="padding: 8px 0 3px;"><small><%= venue.favorites.length %> Favorites:</small></p>
		<div class="slider user-slider" style="border-bottom: 0;">
			<div class="buttons">
				<a href="#" class="prev">prev</a>
				<a href="#" class="next">next</a>
			</div>
			<ul>
			    <li>
			    	<div class="holder">&nbsp;</div>
			    	<p>[Info]</p>
			    </li>
			    <li>
			    	<div class="holder">&nbsp;</div>
			    	<p>[Info]</p>
			    </li>
			    <li>
			    	<div class="holder">&nbsp;</div>
			    	<p>[Info]</p>
			    </li>
			    <li>
			    	<div class="holder">&nbsp;</div>
			    	<p>[Info]</p>
			    </li>
			</ul>
		</div>
	</div>
	<div class="cl">&nbsp;</div>
	<br /><br />
</div>
